 
* {
  box-sizing: border-box;
  text-align: center;
}


body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777;
	background: #777;
	width: 960px;
	font-size: 18px;
	margin: auto;
	clear: both;
}

header, nav, section, aside, #main_article, footer {
	background: #ebebeb;
}

header, nav {
	padding: 40px;
	margin: 10px auto;
}

section {
	overflow: auto;
	float: left;
	margin-top: 15px;
	padding: 40px 10px 10px;
	width: 495px;
}

article {
    padding: 20px 15px 5px;
    margin: 30px 5px 5px;
    color: #ebebeb;
    background: #777;
}

.header {
	padding: 15px;
	margin: 15px auto;
	color: #777;
	background: #ebebeb;
}

h1 {
	font-weight: bold;
}

p {
	font-weight: 100;
}

aside {
	padding: 39px 40px 230px;
	width: 450px;
	margin: 15px auto 20px;
	float: right;
	overflow: auto;
}

footer {
	padding: 40px;
	margin-top: 10px;
	clear: both;
	overflow: auto;
}